
<!-- About Me Section -->
<div id="about" class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Me</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <h4>
                Hi there! My name is Adam Kaufman. I'm a recent graduate with a Bachelor of Science degree from Rochester Institute of Technology. While there I majored in Game Design & Development, with minors in Archaeology and Political Science. At heart, I'm a programmer, a designer, and a researcher, with interests ranging from general software development, to making games, to advanced computer science theory, to web development, to history and politics (varied, I know). But basically (and why you're probably here), I really enjoy typing code into a computer and making interesting things appear on the screen. Based on that, my interests include things like developing software and websites, both designing and developing games, and experimenting with new technologies. While I primarily consider myself a front end developer when it comes to application software, my interests and capabilities are extremely varied. I have plenty of experience working on all aspects of an application and getting a project off the ground from conception to production. I also often play around with a variety of advanced topics and areas in computer science such as artificial intelligence, game theory, neural networks, and plenty more!
                <br /><br />
                Right now, I am working for GEICO, where I've been for the past year since graduation. While I enjoy my work and the impact I've been able to have there, life circumstances have me looking for a new opportunity back in my home state of New York.
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="border-right: 1px solid #19aae0">
            <div class="col-sm-6">
                <h3>Interested Fields</h3>
                <h4>
                    Software Development<br />
                    Web Development<br />
                    Front End Development<br />
                    Mobile Development<br />
                    Game Development<br />
                    Artificial Intelligence<br />
                    Data Visualization<br />
                    Game Design<br />
                    Web Design<br />
                    Political Analysis<br />
                    Things that are really cool
                </h4>
            </div>
            <div class="col-sm-6">
                <h3>Skillset</h3>
                <h4 class="col-sm-6" style="padding-left: 0; margin-bottom: 0;">
                    C#<br />
                    JavaScript<br />
                    HTML/CSS<br />
                    Swift<br />
                    Java<br />
                    C++<br />
                    C<br />
                    SQL<br />
                    .NET<br />
                    Node.js<br />
                    MVC<br />
                    Canvas
                </h4>
                <h4 class="col-sm-6" style="padding-left: 0; margin-bottom: 0;">
                    Bootstrap<br />
                    JSON<br />
                    XML<br />
                    jQuery<br />
                    Visual Studio<br />
                    XCode<br />
                    Eclipse<br />
                    Photoshop<br />
                    Unity<br />
                    GitHub<br />
                    Microsoft TFS<br />
                    JIRA
                </h4>
                <h4 style="margin-bottom: 0;">Object Oriented Design</h4>
            </div>
        </div>
        <div class="col-sm-6" style="border-left: 1px solid #19aae0">
            <h3>Education</h3>
            <h4>
                University: Rochester Institute of Technology<br />
                Graduation: May 2017 Summa Cum Laude<br />
                Degree: Bachelor of Science<br />
                Major: Game Design & Development<br />
                Minors: Archaeology, Political Science
            </h4>
            <h3>Contact Info & Links</h3>
            <h4>
                Email: awk9293@rit.edu <br />
                Phone Number: 845-304-3036<br />
                LinkedIn: <a href="https://www.linkedin.com/in/adamwkaufman">https://www.linkedin.com/in/adamwkaufman</a><br />
                Github: <a href="https://github.com/awk11">https://github.com/awk11</a>
                <br /><br />
            </h4>
        </div>
    </div>
</div>
