
<!-- Resume Section -->
<div id="resume" class="container-fluid bg-grey">
    <h2 class="text-center">Resume</h2>
    <div class="row text-center">
        <iframe src="https://drive.google.com/file/d/1_ZH956P1nSpmZVGzC5c0EbY1O13e2yOC/preview" style="width: 75%;" height="480"></iframe>
    </div>
</div>
