body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #19aae0;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

#projectDisplay {
    display: none;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 0;
    margin: auto;
    z-index: 10001;
    overflow: hidden;
    transform: translateY(-50%);
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10000;
    -moz-opacity: 0.90;
    opacity: .90;
    filter: alpha(opacity=90);
}

#projDetails {
    float: right;
    overflow: auto;
}

    #projDetails > h4, #projDetails > p, #projDetails > ul{
        color: white !important;
    }

#myCarousel {
    float: left;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #19aae0;
    top: 100px;
    bottom: 100px;
}

.carousel-indicators{
    bottom: -10px;
}

.carousel-indicators li {
    border-color: #19aae0;
}

    .carousel-indicators li.active {
        background-color: #19aae0;
    }

.carousel-inner .item img, video {
    margin-left: auto;
    margin-right: auto;
    margin: 25px auto;
    text-align: center;
    max-width: 600px;
    max-height: 600px;
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
    background-color: #19aae0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #19aae0 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #19aae0;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

/*For Project Links*/
.prj{
    position: relative;
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    margin-bottom: 10px;
}

.prj img {
    -webkit-transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -o-transition: opacity .75s ease-in-out;
    transition: opacity .75s ease-in-out;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 2px rgba(0, 5, 0, .075);
}
    .prj img.normal {
        position: relative;
        margin: auto;
        max-width: 250px;
        max-height: 250px;
    }

    .prj img.onhover {
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: 250px;
        max-height: 250px;
    }

.prj:hover > img.onhover {
    opacity: 1;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }

    #projDisplay {
        overflow: auto;
    }
}

@media screen and (max-width: 480px) {
    #projDisplay {
        overflow: scroll;
    }
}
