body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Company Template*/
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #19aae0;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: #19aae0;
    font-size: 50px;
}

.logo {
    color: #19aae0;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

#projectDisplay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: auto;
    z-index: 10001;
    overflow: auto;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10000;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}

#projDetails{
    float: right;
}

    #projDetails > h4, #projDetails > p {
        color: white !important;
    }

#myCarousel {
    float: left;
    width: 50%;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #19aae0;
}

.carousel-indicators{
    bottom: -10px;
}

.carousel-indicators li {
    border-color: #19aae0;
}

    .carousel-indicators li.active {
        background-color: #19aae0;
    }

.item img, video {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin: 25px auto;
    text-align: center;
    max-width: 600px !important;
    max-height: 600px !important;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #19aae0;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }

.panel-footer .btn:hover {
    border: 1px solid #19aae0;
    background-color: #fff !important;
    color: #19aae0;
}

.panel-heading {
    color: #fff !important;
    background-color: #19aae0 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

    .panel-footer h3 {
        font-size: 32px;
    }

    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }

    .panel-footer .btn {
        margin: 15px 0;
        background-color: #19aae0;
        color: #fff;
    }

.navbar {
    margin-bottom: 0;
    background-color: #19aae0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #19aae0 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #19aae0;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

/*For Project Links*/
.prj{
    position: relative;
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    margin-bottom: 10px;
}

.prj img {
    -webkit-transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -o-transition: opacity .75s ease-in-out;
    transition: opacity .75s ease-in-out;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 2px rgba(0, 5, 0, .075);
}
    .prj img.normal {
        position: relative;
        margin: auto;
        max-width: 250px;
        max-height: 250px;
    }

    .prj img.onhover {
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: 250px;
        max-height: 250px;
    }

.prj:hover > img.onhover {
    opacity: 1;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
